/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black :	#000;
White : #FFF;
Blue : #0065FC;
Light Blue : #DEEBFF;
Light gray : #F2F2F2;
*/


/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */


body
{
	font-family: Raleway, Arial, sans-serif;
}


/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body
{
	margin: 0;
}

img
{
    max-width: 100%;
}

/*     Titres     */

h1
{
	font-size: 1.4em; 
	font-weight: bold;
}

h2
{
	font-size : 1.2em; 
	font-weight: bold;
}


/*     Texte, listes     */

p
{
	font-size: 0.8em;
}

li
{
	font-size: 1em;	
	list-style-type: none;
}

input 
{
	font-size: 1em;
}


/*     Liens      */
a
{
	text-decoration: none;
	color: black;
}


/*     Icônes      */

.blue
{
	color: #0065FC;
}

.grey
{
	color: lightgrey;    /*On ne voyait presque pas les étoiles en #F2F2F2*/
}


/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */
#header-desktop
{
	display: none;
}

#logo-inscription
{
	display : flex; 
	justify-content: space-between; 
	margin: 20px 5% 20px 5%;
}

#inscrire
{
	color: #0065FC;
	font-weight: bold;
}

/*     Navigation      */


header ul
{
	display: flex;
	justify-content: space-around;
	padding: 0;
}

header li
{
	width: 50%;
	text-align: center;
	border-bottom : 2px lightgrey solid;
}

header li:hover
{
	border-bottom: 2px blue solid ;
}

header a:hover
{

	color : #0065FC;
}

/* ---------------------------------------- */
/* ==  		 SECTION 1 : Recherche  	     */
/*---------------------------------------- */
#Recherches
{
	margin: 0 5% 0 5%;
}

#Recherches h1
{
	margin-bottom: 0.5em;
}


/*     Barre de recherche      */

form
{
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: space-between;
	border: 1px #F2F2F2 solid;
	border-radius: 12px;
	margin-top: 2em;
}

input
{
	display: block;
	width: 100%;
	border: none;
	padding-left: 10px;
}


button:before 
{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f002";
}

#bouton
{
	width: 50px;
}

button
{
	border: none;
	background-color: #0065FC;
	color: white;
	border-radius: 12px;
	height: 100%;
	width: 100%;
}

#marqueur
{
	min-width: 40px;
	background-color: #F2F2F2;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	text-align: center;
	line-height: 40px;
}	



/*     Filtres de recherche      */

#Filtres h2
{
	margin: 1.5em 1em 0.3em 0 ;
}

#Filtres-tel
{
	display: flex;
	flex-wrap: wrap;
}

.Filtre
{
	display: flex;
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	margin: 0.3em;
	line-height: 25px;
}

.icones-filtres
{
	height:100%;
	width: 40px;
	background-color: #DEEBFF;
	border-radius: 25px;
	text-align: center;
	line-height: 40px;
}

.Filtre:hover
{
 border: 2px #DEEBFF dotted;
 background-color: #F2F2F2;
}


/*
.Filtre .blue
{
	background-color: #DEEBFF;
	border-radius: 25px;
}

.fa-money-bill-wave, .fa-dog
{
	padding: 0.8em 0.7em;
}

.fa-child
{
	padding: 0.8em 0.9em;
}

.fa-heart
{
	padding: 0.8em;
}
*/

.Filtre p
{
	margin: 0.5em;
	font-weight: bold;
}


/*     Info      */

.fa-info
{
	font-size: 0.7em;
	padding: 0.4em 0.7em;
	border: 1px #F2F2F2 solid;
	border-radius: 20px;
	margin-right: 1em;
}

#info
{
	display: flex; 
	align-items: baseline;
	margin: 30px 0 30px 0;
}

/* ---------------------------------------- */
/* ==     SECTION 2 : Les plus populaires  */
/*---------------------------------------- */
#Populaires
{
	background: #F2F2F2;
	padding: 20px 5% 20px 5%;
}

#Populaires h1
{
	display: flex;
	justify-content: space-between;
}


/*     Cartes hébergements populaires      */

.Cartes-pop
{
	background: #FFF;
	border-radius: 20px;
	box-shadow: 5px 5px 10px lightgrey;
	display: flex;
	height: 140px;
	margin: 0.7em 0;
}


.Cartes-pop h2
{
	font-size: 1em;
}

.Cartes-pop p
{
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.etoiles
{
	display: flex;
}

.Texte-pop
{
	margin-right: 0.5em;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-star
{
	font-size: 0.8em;
}

.Photos-pop
{
	max-width: 40%;
	margin: 0.3em 0.9em 0.3em 0.3em;
}

.Photos-pop img
{
	border-radius: 15px 0 0 15px;
	height: 100%;
	width:100%;
	object-fit: cover;
}


/* ---------------------------------------- */
/* ==       SECTION 3 : Hébergements        */
/*---------------------------------------- */
#Hebergements
{
	padding: 20px 5% 20px 5%;
}


/*     Cartes hébergements à Marseille      */

.Cartes-heberg
{
	border-radius: 20px;
	box-shadow: 5px 5px 10px #F2F2F2;
	margin: 0.7em 0;
	height: 220px;
	padding: 0.3em 0.3em 0 0.3em;
}

.Photos-heberg
{
	max-width: 100%;
	height: 60%;
}

.Cartes-heberg img
{
	border-radius: 15px 15px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Cartes-heberg h2
{
	font-size: 1em;
	margin: 0.5em 0 0 0.8em;
}

.Cartes-heberg p
{
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

p.etoiles-h
{
	margin-top: 1em;
}

.etoiles-h
{
	display: flex;
	margin: 0;
}

#plus
{
	font-weight: bold;
	margin: 2em 0 0 0;
}

/* ---------------------------------------- */
/* ==       SECTION 4 : Activités          */
/*---------------------------------------- */
#Activites
{
	padding: 20px 5% 20px 5%;
}

#Activites h1
{
	margin-top:0;
}

/*    Cartes activités    */

.Cartes-activites
{
	border-radius: 20px;
	box-shadow: 5px 5px 10px #F2F2F2;
	margin: 1.3em 0;
	height: 170px;
}

.Photos-act
{
	max-width: 100%;
	height: 70%;
}

.Photos-act img
{
	border-radius: 15px 15px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Cartes-activites h2
{
	font-size: 1em;
	margin: 1em 0 0 1em;
}


/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */
footer
{
	background: #F2F2F2;
	padding: 5px 0 25px 0;
}

/*     Navigation    */
#liens-footer h2
{
	margin-top: 2em;
}

#liens-footer li
{
	font-size: 0.9em;
	margin-bottom: 1em;
}

/* ---------------------------------------- */
/* ==       MEDIAS QUERIES        */
/*---------------------------------------- */

/*     TABLETTE      */

@media screen and (min-width: 768px) 	/* min-width= taille iPad  */
{

	/*	Barre de recherche	*/

	form
	{
		width: 60%;
	}

	button:before 
	{
    	content: "Rechercher";
    	font-size: 1em;
    	font-family: raleway;
	} 

	#bouton
	{
		width: 150px;
	}

	button
	{
		border-radius: 0px 12px 12px 0;
	}


	/* Héberg populaires */

	#Populaires
	{
		padding-bottom: 40px;
	}

	#Cartes-populaires
	{
		display: flex;
		justify-content: space-between;
	}

	.Cartes-pop
	{
		margin: 0.7em 0.2em;
	}

	.Cartes-pop h2
	{
		font-size: 0.9em;
	}

	.Cartes-pop p
	{
		font-size: 0.7em;
	}

	#carte-pop-2
	{
		min-width: 245px;
	}


	/* Hébergements */

	.Cartes-heberg
	{
		margin: 0.7em 0.2em;
		min-width: 210px;
		max-width: 275px;
	}

	#Cartes1-2-3, #Cartes4-5-6
	{
		display: flex;
		justify-content: space-between;
	}


	/* Activités */

	.Cartes-activites
	{
		margin: 0;
	}
	.les3cartes
	{
		display: flex;
		height: 400px;
		margin-bottom: 2em;
	}

	.les3cartes a
	{
		width: 50%;
	}


	#vieux-port, #calanques
	{
		margin-right: 1em;
		height: 100%;
	}

	#vieux-port .Photos-act, #calanques .Photos-act
	{
		height: 87%;
	}

	#Cartes-act-2-3, #Cartes-act-5-6
	{
		margin-left: 1em;
		width: 50%;
	}

	#pomègues
	{
		height: 55%;
		margin-bottom: 2em;
	}

	#pomègues .Photos-act
	{
		height: 75%;
	}

	#frioul
	{
		height: 37%;
	}

	#frioul .Photos-act
	{
		height: 65%;
	}

	#notre-dame
	{
		margin-bottom: 2em;
		height: 46%;
	}

	#longchamp
	{
		height: 46%;
	}


	#notre-dame .Photos-act, #longchamp .Photos-act
	{
		height: 73%;
	}

	/* Footer */
	
	footer
	{
		padding: 0;
	}
	
	footer nav
	{
		display: flex;
		justify-content: space-between;
	}

	ul
	{
		padding: 0;
		margin: 5%;
	}
} 


/*    DESKTOP     */

@media screen and (min-width: 1025px) /* min-width = taille juste au dessus de l'iPad Pro (iPad Pro = 1024px)*/
{

	/*	Header	*/

	#header-tel-tab
	{
		display: none;
	}

	#header-desktop
	{
		display: flex;
		justify-content: space-between;
		margin: 20px 5% 20px 5%;
	}


	/*	Navigation	*/

	header li
	{
		border: none;
		padding: 1em;
	}

	header li:hover
	{
		border-bottom: none;
		border-top: 2px blue solid;
	}

	#inscrire2
	{
		color: #0065FC;
		font-weight: bold;
	}


	/*  Barre de recherches  */
	form
	{
		width: 30%;
	}


	/*  Filtres  */

	#Filtres
	{
		display: flex;
		align-items: baseline ;
		margin-top: 0.5em;
	}

	.Filtre
	{
		margin: 0 0.7em 0 0.7em;
	}


	/* Hébergements et aside */

	#hébergements-et-pop
	{
		display: flex;
		flex-wrap : wrap;
		margin-bottom: 30px;
		justify-content: space-between;
	}

	#Populaires
	{
		order: 2;
		border-radius: 20px;
		margin-right: 5%;
		padding: 20px;
		width: 22%;
	}

	#Cartes-populaires
	{
		flex-direction: column;
	}

	.Cartes-pop
	{
		height: 120px;
	}

	#Hebergements
	{
		background-color: #F2F2F2;
		flex-wrap: wrap;
		border-radius: 20px;
		margin-left: 5%;
		width: 60%;
		padding: 20px;
	}

	.Cartes-heberg
	{
		background-color: white;
		border-radius: 20px;
		box-shadow: 5px 5px 10px lightgrey;
		height: 170px;
		margin: 0.7em;
		min-width: 0;
	}

	#Cartes1-2-3 a, #Cartes4-5-6 a
	{
		width: 35%;
	}

	.Cartes-heberg h2
	{
		font-size: 0.9em;
	}

	.Cartes-heberg p
	{
		font-size: 0.7em;
	}


	/*  Activités  */

	#les6cartes
	{
		display:flex;
		justify-content: space-between;

	}

	.les3cartes
	{
		width: 50%;
	}

	.Cartes-activites h2
	{
		font-size: 0.9em;
	}

	#Cartes-act-2-3
	{
		margin-right: 1em;
	}

	#calanques
	{
		margin-left: 1em;
	}


}







