/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black :	#000;
White : #FFF;
Blue : #0065FC;
Light Blue : #DEEBFF;
Light gray : #F2F2F2;
*/


/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */


body
{
	font-family: Raleway, Arial, sans-serif;
}


/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body
{
	margin: 0;
}

img
{
    max-width: 100%;
}

/*     Titres     */

h1
{
	font-size: 1.4em; 
	font-weight: bold;
}

h2
{
	font-size : 1.2em; 
	font-weight: bold;
}


/*     Texte, listes     */

p
{
	font-size: 0.8em;
}

li
{
	font-size: 1em;	
	list-style-type: none;
}

input 
{
	font-size: 1.1em;
}


/*     Liens      */
a
{
	text-decoration: none;
	color: black;
}


/*     Icônes      */

.blue
{
	color: #0065FC;
}

.grey
{
	color: lightgrey;    /*On ne voyait presque pas les étoiles en #F2F2F2*/
}


/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */
#logo-inscription
{
	display : flex; 
	justify-content: space-between; 
	margin: 20px 5% 20px 5%;
}

#inscrire
{
	color: #0065FC;
	font-weight: bold;
}

/*     Navigation      */
header ul
{
	display: flex;
	justify-content: space-around;
	padding: 0;
}

header li
{
	width: 50%;
	text-align: center;
	border-bottom : 2px lightgrey solid;
}

header li:hover
{
	border-bottom: 2px blue solid ;
}
header a:hover
{

	color : #0065FC;
}



/* ---------------------------------------- */
/* ==  		 SECTION 1 : Recherche  	     */
/*---------------------------------------- */
#Recherches
{
	margin: 0 5% 0 5%;
}

#Recherches h1
{
	margin-bottom: 0.5em;
}


/*     Barre de recherche      */

#Recherche
{
	display: inline-flex; 
	border: 1px #F2F2F2 solid;
	border-radius: 15px;
	margin-top: 1em;
}


input
{
	border: none;
	margin: 0 10px 0 10px;
}



button
{
	margin:0;
	padding: 0;
	border: none;
	background: none;
}
.loupe
{
	color: white;
	font-size: 1.3em;	
	background-color: #0065FC;	
	padding : 15px;
	border-radius: 15px;
}

.local
{
	font-size: 1.1em;
	background-color: #F2F2F2;
	padding : 15px 20px 15px 20px; 
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

/*     Filtres de recherche      */

#Filtres h2
{
	margin: 1.5em 1em 0.3em 0 ;
}

#Filtres-tel
{
	display: flex;
	flex-wrap: wrap;
}

.Filtre
{
	display: flex;
	align-items: baseline;
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	margin: 0.3em;
}

.Filtre:hover
{
 border: 2px #DEEBFF dotted;
 background-color: #F2F2F2;
}

.Filtre .blue
{
	background-color: #DEEBFF;
	border-radius: 25px;
}

.fa-money-bill-wave, .fa-dog
{
	padding: 0.8em 0.7em;
}

.fa-child
{
	padding: 0.8em 0.9em;
}

.fa-heart
{
	padding: 0.8em;
}


.Filtre p
{
	margin: 0.5em;
	font-weight: bold;
}


/*     Info      */

.fa-info
{
	font-size: 0.7em;
	padding: 0.4em 0.7em;
	border: 1px #F2F2F2 solid;
	border-radius: 20px;
	margin-right: 1em;
}

#info
{
	display: flex; 
	align-items: baseline;
	margin: 30px 0 30px 0;
}

/* ---------------------------------------- */
/* ==     SECTION 2 : Les plus populaires  */
/*---------------------------------------- */
#Populaires
{
	background: #F2F2F2;
	padding: 20px 5% 20px 5%;
}

#Populaires h1
{
	display: flex;
	justify-content: space-between;
}


/*     Cartes hébergements populaires      */

.Cartes-pop
{
	background: #FFF;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #F2F2F2;
	display: flex;
	height: 140px;
	margin: 0.7em 0;
}

.Cartes-pop h2
{
	font-size: 1em;
	margin-bottom: 0.3em;
}

.Cartes-pop p
{
	margin: 0 0 35px 0;
}

.Texte-pop
{
	margin-right: 2em;
}
.fa-star
{
	font-size: 0.8em;
}

.Photos-pop
{
	max-width: 40%;
	height: 93%;
	margin: 0.3em 0.9em 0.3em 0.3em;
}

.Photos-pop img
{
	border-radius: 15px 0 0 15px;
	height: 100%;
	width:100%;
	object-fit: cover;
}


/* ---------------------------------------- */
/* ==       SECTION 3 : Hébergements        */
/*---------------------------------------- */
#Hebergements
{
	padding: 20px 5% 20px 5%;
}


/*     Cartes hébergements à Marseille      */

.Cartes-heberg
{
	border-radius: 20px;
	box-shadow: 5px 5px 10px #F2F2F2;
	margin: 0.7em 0;
	height: 170px;
	padding: 0.3em 0.3em 0 0.3em;
}

.Photos-heberg
{
	max-width: 100%;
	height: 60%;
}

.Cartes-heberg img
{
	border-radius: 15px 15px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Cartes-heberg h2
{
	font-size: 1em;
	margin: 0.5em 0 0 0.8em;
}

.Cartes-heberg p
{
	margin: 0.2em 0 0.2em 1em;
}

#plus
{
	font-weight: bold;
	margin: 2em 0 0 0;
}

/* ---------------------------------------- */
/* ==       SECTION 4 : Activités          */
/*---------------------------------------- */
#Activites
{
	padding: 20px 5% 20px 5%;
}

#Activites h1
{
	margin-top:0;
}

/*    Cartes activités    */

.Cartes-activites
{
	border-radius: 20px;
	box-shadow: 5px 5px 10px #F2F2F2;
	margin: 1.3em 0;
	height: 170px;
}

.Photos-act
{
	max-width: 100%;
	height: 70%;
}

.Photos-act img
{
	border-radius: 15px 15px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Cartes-activites h2
{
	font-size: 1em;
	margin: 1em 0 0 1em;
}


/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */
footer
{
	background: #F2F2F2;
	padding: 5px 0 25px 0;
}

/*     Navigation    */
#liens-footer h2
{
	margin-top: 2em;
}

#liens-footer li
{
	font-size: 0.9em;
	margin-bottom: 1em;
}

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */
