/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L108		- HEADER - 		*/
/* L181		- SECTION 1 - Recherches - */
/* L316		- SECTION 2 - Les plus populaires - */
/* L384		- SECTION 3 - Hébergements à Marseille - */
/* L449		- SECTION 4 - Activités - */
/* L495		- FOOTER - */
/* L520		- MEDIAS QUERIES - */
	/* L524		- Tablette (min-width 768px) - */
	/* L711		- Desktop (min-width 1025px) - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black :	#000;
White : #FFF;
Blue : #0065FC;
Light Blue : #DEEBFF;
Light gray : #F2F2F2;
*/


/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */


body
{
	font-family: Raleway, Arial, sans-serif;
}


/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

body
{
	margin: 0;
}

img
{
    max-width: 100%;
}

/*     Titres     */

h1
{
	font-size: 1.4em; 
	font-weight: bold;
}

h2
{
	font-size : 1.2em; 
	font-weight: bold;
}


/*     Texte, listes     */

p
{
	font-size: 0.8em;
}

li
{
	font-size: 1em;	
	list-style-type: none;
}

input 
{
	font-size: 1em;
}


/*     Liens      */

a
{
	text-decoration: none;
	color: black;
}


/*     Icônes      */

.blue
{
	color: #0065FC;
}

.grey
{
	color: lightgrey;    /*On ne voyait presque pas les étoiles en #F2F2F2*/
}


/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */

header
{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

#logo
{
	width: 45%;
	padding-left: 5%;
}

#logo img
{
	width: 95px;
}

header p
{
	width: 45%;
	text-align: right;
	padding-right: 5%;
}

#inscrire
{
	color: #0065FC;
	font-weight: bold;
	font-size: 1.2em;
}



/*     Navigation      */

header nav
{
	width: 100% ;
	margin-top: 10px;
}

header ul
{
	display: flex;
	justify-content: space-around;
	padding: 0;
}

header li
{
	width: 50%;
	text-align: center;
	border-bottom : 2px lightgrey solid;
	padding-bottom: 10px;
}

header li:hover
{
	border-bottom: 2px blue solid ;
}

header a:hover
{

	color : #0065FC;
}


/* ---------------------------------------- */
/* ==  		 SECTION 1 : Recherche  	     */
/*---------------------------------------- */

#Recherches
{
	margin: 0 5% 0 5%;
}

#Recherches h1
{
	margin-bottom: 0.5em;
}


/*     Barre de recherche      */

form
{
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: space-between;
	border: 1px #F2F2F2 solid;
	border-radius: 12px;
	margin-top: 2em;
}

input
{
	display: block;
	width: 100%;
	border: none;
	padding-left: 10px;
}


button:before 		/*  bouton de validation de la recherche  */
{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f002";  /* permet d'intégrer l'icône de la loupe, sera modifié par "rechercher" par la suite"*/
}

#bouton
{
	width: 50px;
}

button
{
	border: none;
	background-color: #0065FC;
	color: white;
	border-radius: 12px;
	height: 100%;
	width: 100%;
}

#marqueur        /* icône localisation au début de la barre de recherche  */
{
	min-width: 40px;
	background-color: #F2F2F2;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	text-align: center;
	line-height: 40px;
}	



/*     Filtres de recherche      */

#Filtres h2
{
	margin: 1.5em 1em 0.3em 0 ;
}

#Filtres-tel		/*  div utilisée pour mise en place de la version mobile  */
{
	display: flex;
	flex-wrap: wrap;
}

.Filtre /* div pour entourer les éléments de chaque filtre */
{
	display: flex;
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	margin: 0.3em;
	line-height: 25px;
}

.icones-filtres		/* div ronde autour des icônes pour les filtres */
{
	height:100%;
	width: 40px;
	background-color: #DEEBFF;
	border-radius: 25px;
	text-align: center;
	line-height: 40px;
}

.Filtre:hover		/* Modification des filtres au survol  */
{
 border: 2px #DEEBFF dotted;
 background-color: #F2F2F2;
}

.Filtre p
{
	margin: 0.5em;
	font-weight: bold;
}


/*     Info      */

.fa-info
{
	font-size: 0.7em;
	padding: 0.4em 0.7em;
	border: 1px #F2F2F2 solid;
	border-radius: 20px;
	margin-right: 1em;
}

#info
{
	display: flex; 
	align-items: baseline;
	margin: 30px 0 30px 0;
}


/* ---------------------------------------- */
/* ==     SECTION 2 : Les plus populaires  */
/*---------------------------------------- */

#Populaires
{
	background: #F2F2F2;
	padding: 20px 5% 20px 5%;
}

#Populaires h1
{
	display: flex;
	justify-content: space-between;
}


/*     Cartes hébergements populaires      */

.Cartes-pop
{
	background: #FFF;
	border-radius: 20px;
	box-shadow: 5px 5px 10px lightgrey;
	display: flex;
	height: 140px;
	margin: 0.7em 0;
}

.etoiles 
{
	display: flex;  /* Pour qu'elles soient moins espacées les unes des autres */
}

.Texte-pop
{
	margin-right: 0.5em;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Texte-pop h2
{
	font-size: 1em;
	margin-bottom: 0;
}

.fa-star
{
	font-size: 0.8em;
}

.Photos-pop  /* div qui entourent les images des cartes hébergements populaires */ 
{
	max-width: 40%;
	margin: 0.3em 0.9em 0.3em 0.3em;
}

.Photos-pop img
{
	border-radius: 15px 0 0 15px;
	height: 100%;
	width:100%;
	object-fit: cover;
}


/* ---------------------------------------- */
/* ==       SECTION 3 : Hébergements        */
/*---------------------------------------- */

#Hebergements
{
	padding: 20px 5% 20px 5%;
}


/*     Cartes hébergements à Marseille      */

.Cartes-heberg
{
	border-radius: 20px;
	box-shadow: 5px 5px 10px #F2F2F2;
	margin: 0.7em 0;
	height: 220px;
	padding: 0.3em 0.3em 0 0.3em;
}

.Photos-heberg  /* div qui entourent les images des cartes hébergements */
{
	max-width: 100%;
	height: 60%;
}

.Photos-heberg img
{
	border-radius: 15px 15px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Cartes-heberg h2
{
	font-size: 1em;
	margin: 0.5em 0 0 0.8em;
}

.Cartes-heberg p
{
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

p.etoiles-h
{
	margin-top: 1em;
}

.etoiles-h  
{
	display: flex; /*pour que les étoiles soient proches les unes des autres*/
}

#plus   /* Afficher plus */
{
	font-weight: bold;
	margin: 2em 0 0 0;
}


/* ---------------------------------------- */
/* ==       SECTION 4 : Activités          */
/*---------------------------------------- */

#Activites
{
	padding: 20px 5% 20px 5%;
}

#Activites h1
{
	margin-top:0;
}


/*    Cartes activités    */

.Cartes-activites
{
	border-radius: 20px;
	box-shadow: 5px 5px 10px #F2F2F2;
	margin: 1.3em 0;
	height: 170px;
}

.Photos-act  /* div qui entourent les images des cartes activités  */
{
	max-width: 100%;
	height: 70%;
}

.Photos-act img
{
	border-radius: 15px 15px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Cartes-activites h2
{
	font-size: 1em;
	margin: 1em 0 0 1em;
}


/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */
footer
{
	background: #F2F2F2;
	padding: 5px 0 25px 0;
}


/*     Navigation    */

#liens-footer h2
{
	margin-top: 2em;
}

#liens-footer li
{
	font-size: 0.9em;
	margin-bottom: 1em;
}



/* ---------------------------------------- */
/* ==       MEDIAS QUERIES        */
/*---------------------------------------- */

/*     TABLETTE      */

@media screen and (min-width: 768px) 	/* min-width= taille iPad  */
{

	/*	Barre de recherche	*/

			/*  La loupe disparaît au profit du bouton "Rechercher", la taille de la barre de recherches diminue  */

	form
	{
		width: 60%;
	}

	button:before 
	{
    	content: "Rechercher";
    	font-size: 1em;
    	font-family: raleway;
	} 

	#bouton
	{
		width: 150px;
	}

	button
	{
		border-radius: 0px 12px 12px 0;
	}


	/* Héberg populaires */

			/* Les cartes sont alignées au lieu d'être l'une au dessus de l'autre  */

	#Populaires
	{
		padding-bottom: 40px;
	}

	#Cartes-populaires
	{
		display: flex;
		justify-content: space-between;
	}

	.Cartes-pop
	{
		margin: 0.7em 0.2em;
	}

	.Cartes-pop h2
	{
		font-size: 0.9em;
	}

	.Cartes-pop p
	{
		font-size: 0.7em;
	}

	#carte-pop-2
	{
		min-width: 245px;
	}


	/* Hébergements */

			/*  Les cartes sont sur 2 rangées de 3 cartes, au lieu d'être les unes au dessus des autres  */

	.Cartes-heberg
	{
		margin: 0.7em 0.2em;
		min-width: 210px;
		max-width: 275px;
	}

	#Cartes1-2-3, #Cartes4-5-6
	{
		display: flex;
		justify-content: space-between;
	}


	/* Activités */

			/* Les cartes ont des tailles différentes, comme la version desktop, et sont réparties en 2 blocs de 3 cartes  */ 

	.Cartes-activites
	{
		margin: 0;
	}

	.les3cartes  /* Pour les 2 blocs de 3 cartes */
	{
		display: flex;
		height: 400px;
		margin-bottom: 2em;
	}

	.les3cartes a
	{
		width: 50%;
	}


	#vieux-port, #calanques  /*  cartes Vieux-port et Calanques  */
	{
		margin-right: 1em;
		height: 100%;
	}

	#vieux-port .Photos-act, #calanques .Photos-act  /* photos Vieux-port et Calanques  */
	{
		height: 87%;
	}

	#Cartes-act-2-3, #Cartes-act-5-6  /* cartes Pomègues + Frioul  et cartes Notre-Dame + Longchamp  */
	{
		margin-left: 1em;
		width: 50%;
	}

	#pomegues  /* carte Pomègues  */
	{
		height: 55%;
		margin-bottom: 2em;
	}

	#pomegues .Photos-act  /* photo Pomègues  */
	{
		height: 75%;
	}

	#frioul  /* carte Frioul  */
	{
		height: 37%;
	}

	#frioul .Photos-act  /* photo Frioul */
	{
		height: 65%;
	}

	#notre-dame  /* carte Notre-Dame  */
	{
		margin-bottom: 2em;
		height: 46%;
	}

	#longchamp  /* carte Longchamp  */
	{
		height: 46%;
	}


	#notre-dame .Photos-act, #longchamp .Photos-act  /* images Notre-Dame et Longchamp  */
	{
		height: 73%;
	}


	/* Footer */
	
			/* Le footer est organisé en 3 colonnes au lieu de 3 blocs les uns au dessus des autres  */

	footer
	{
		padding: 0;
	}
	
	footer nav
	{
		display: flex;
		justify-content: space-between;
	}

	#liens-footer ul
	{
		padding: 0;
		margin: 5%;
	}
} 


/*    DESKTOP     */

@media screen and (min-width: 1025px) /* min-width = taille juste au dessus de l'iPad Pro (iPad Pro = 1024px)*/
{

	/*	Header	*/

	header  
	{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: baseline;
		margin: 20px 5% 20px 5%;
	}

	#logo
	{
		padding-left: 0;
		width: 70%;
	}

	header p  /* lien "s'inscrire" */
	{
		order: 1;
		padding-right: 0;
		width: auto;
	}


	/*	Navigation	*/

		/* Le menu de navigation monte au même niveau que le lien "s'inscrire" et le logo. Les liens survolés ont maintenant une ligne au dessus et plus de ligne en dessous  */ 

	header nav
	{
		width: auto;
	}

	header li
	{
		border: none;
		padding: 1em;
	}

	header li:hover
	{
		border-bottom: none;
		border-top: 2px blue solid;
	}


	/*  Barre de recherches  */

			/* La barre de recherche est raccourcie  */ 

	form
	{
		width: 30%;
	}


	/*  Filtres  */

		/* Le titre "Filtres" est placé à côté des filtres, et plus au dessus  */ 

	#Filtres
	{
		display: flex;
		align-items: baseline ;
		margin-top: 0.5em;
	}

	.Filtre
	{
		margin: 0 0.7em 0 0.7em;
	}


	/* Hébergements et hébergements populaires */

			/* Les hébergements ont un fond gris et sont positionnés à côtés des plus populaires. Les plus populaires sont à nouveau en colonne.  */

	#hebergements-et-pop  /* Section "Hébergements à Marseille" + Section "Les plus populaires"  */
	{
		display: flex;
		flex-wrap : wrap;
		margin-bottom: 30px;
		justify-content: space-between;
	}

	#Populaires  /* tout le bloc "les plus populaires" */
	{
		order: 2;  /* Pour passer le bloc à droite des hébergements  */
		border-radius: 20px;
		margin-right: 5%;
		padding: 20px;
		width: 22%;
	}

	#Cartes-populaires  /* toutes les cartes du bloc */
	{
		flex-direction: column;
	}

	.Cartes-pop  /* chaque carte populaire  */
	{
		height: 120px;
	}

	#Hebergements  /* tout le bloc "hébergements" */
	{
		background-color: #F2F2F2;
		flex-wrap: wrap;
		border-radius: 20px;
		margin-left: 5%;
		width: 60%;
		padding: 20px;
	}

	.Cartes-heberg  /* chaque carte hébergement  */
	{
		background-color: white;
		border-radius: 20px;
		box-shadow: 5px 5px 10px lightgrey;
		height: 170px;
		margin: 0.7em;
		min-width: 0;
	}

	#Cartes1-2-3 a, #Cartes4-5-6 a  
	{
		width: 35%;
	}

	.Cartes-heberg h2
	{
		font-size: 0.9em;
	}

	.Cartes-heberg p
	{
		font-size: 0.7em;
	}


	/*  Activités  */

	#les6cartes
	{
		display: flex;
		justify-content: space-between;

	}

	.les3cartes
	{
		width: 50%;
	}

	.Cartes-activites h2
	{
		font-size: 0.9em;
	}

	#Cartes-act-2-3
	{
		margin-right: 1em;
	}

	#calanques
	{
		margin-left: 1em;
	}

}







